* {
	margin: 0;
	padding: 0;
}

body {
	background-color: black;
	background-repeat: no-repeat;
	background-size: auto;
}


h1, p {
	text-align: center;
	color: #FFFFFF;
	font-size:  40px;

}

.grid-container {
	display: grid;
	grid-template-columns: auto auto auto;
	grid-gap: 10px;
	padding: 0 0px 0px 0px;
	justify-items: center;
}



button:active{
	transform:scale(1.1);
	box-shadow: 0 0 0 1px rgba(0,0,0,0.0);
}

button:disabled {
	cursor: not-allowed;
	pointer-events: none;
	opacity: 0.5;
}

.play {
	background: dodgerblue;
	color: white;
	text-align: center;
	padding: 20px 0;
	font-size: 20px;
	width: 100px;
	height: 100px;
	border: none;
	border-radius: 50px;
	box-shadow:2px 2px 10px rgba(0,0,0,0.3);
	vertical-align: middle;
}

.btn_container {

}

.button_dir_vert {
	width: 100px;
	height: 100px;
	border: none;
}

.button_dir_horiz {
	width: 100px;
	height: 100px;
	border: none;
}

.button_up {
	background: url("../arrows/up.png") no-repeat bottom;
}

.button_down {
	background: url("../arrows/down.png") no-repeat bottom;
}

.button_left {
	background: url("../arrows/left.png") no-repeat bottom;
}

.button_right {
	background: url("../arrows/right.png") no-repeat bottom;
}

p {
	font-size: 20px;
}

h2, p {
	text-align: center;
	color: #A7844D;
	font-size:  30px;
}

#output, #container {
	display: flex;
	  flex-direction: column;
	justify-content: center;
	margin-top: 60px;
}


input {
	background-color: #fff;
	border: hidden;
	opacity: 0.7;
	font-family: sans-serif;
	color: #000;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 20px;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
	  color: grey;
	    opacity: 0.3; /* Firefox */
    }

/* Split the screen in half */
.split {
	height: 100%;
	width: 30%;
	position: fixed;
	z-index: 1;
	top: 0;
	overflow-x: hidden;
	padding-top: 20px;
}

/* Control the left side */
.left {
	left: 0;
}

/* Control the right side */
.right {
	right: 0;
}

.center {
	left: 30%;
}

/* If you want the content centered horizontally and vertically */
.centered {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
}

/* Style the buttons that are used to open and close the accordion panel */
.accordion {
	background-color: #76aefc;
	color: #FFFFFF;
	cursor: pointer;
	padding: 18px;
	font-size: 20px;
	width: 100%;
	text-align: center;
	border: none;
	outline: none;
	transition: 0.4s;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .accordion:hover {
	background-color: #ccc;
}

/* Style the accordion panel. Note: hidden by default */
.panel, grid-item-toolbar {
	padding: 10px 18px;
	background-color: white;
	display: none;
	overflow: hidden;
}

.grid-container_board {
	display: grid;
	height: 300px;
	align-content: center;
	grid-template-columns: auto auto auto;
	grid-gap: 10px;
	justify-items: center;
}

.board-visual-box {
	background-color: #76aefc;
	text-align: center;
	font-size: 30px;
	height: 70px;
	width: 70px;
	vertical-align: middle;
	line-height: 70px;
	border-radius: 25px;
	box-shadow: 3px 3px #cccccc;
}

.grid-container-board {
	padding: 10px 10px 10px 10px;
	background: aliceblue;
	grid-gap: 10px;
	grid-template-areas: "a a";
}

.grid-item-board {
	grid-column: 1 / 4;
	text-align: center;
}

.grid-item-header {
	grid-column: 1 / 4;
	color: black;
}




.grid-container-top {
	display: grid;
	grid-template-columns: auto auto auto auto;
	grid-gap: 0px;
	padding: 0 0px 0px 0px;
}

.grid-item-toolbar {
	grid-column: 1 / 2;
	color: azure;
	height: 80px;
	background-color: #F2F0F0;
}

.grid-item-title {
	grid-column: 2 / 5;
	color: azure;
	height: 80px;
	background-color: #F2F0F0;
	padding-left: 10px;
	font-family: 'Dancing Script', cursive;
	font-size: 48px;
	text-shadow: 1px 1px 1px #aaa;
}

.text-turn {
	vertical-align: middle;
	font-family: 'Dancing Script', cursive;
	font-size: 24px;
	color: green;
}

.text-type {
	vertical-align: middle;
	horiz-align: center;
	font-family: 'Dancing Script', cursive;
	color: white;
}

.grid-item-toolbar_title {
	grid-column: 2 / 4;
	text-align: center;
	color: azure;
	height: 80px;
	background-color: #F2F0F0;

}

.main-title {
	text-align: left;
	font-size: 30px;
	color: black;
	vertical-align: middle;
	line-height: 70px;
}

.reset {
	position: absolute;
	top: 10px;
	right: 10px;
}